body {
  margin: 0;
  height: 100vh;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bandera {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.azul {
  background-color: #0033a0;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blanco {
  background-color: white;
  grid-column: 2;
  grid-row: 1;
}

.rojo {
  background-color: #d52b1e;
  grid-column: 1 / 3;
  grid-row: 2;
}

.estrella {
  width: 50px;
  height: 50px;
  background-color: white;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.volver {
  position: fixed;
  top: 20px;
  left: 20px;
  text-decoration: none;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 16px;
  z-index: 10;
}

.volver:hover {
  background-color: #555;
}